.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-inner {
  position: relative;
  background-color: white;
  border-radius: 1rem;
  padding: 36px;
  width: 100%;
  max-width: 1080px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.error {
  text-align: center;
  width: 100%;
  color: #be123c;
}
.popup-inner header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.rating img {
  width: 32px;
}
.popup-inner .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.popup-genres {
  border: none;
  color: white;
  border-radius: 1rem;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  background-color: #be123c;
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/*---------------------------------------*/

.popup-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2em;
  height: 2em;
}
.popup-close-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border: 1em solid rgba(100, 100, 100, 0.8);
  border-radius: 6em;
  transition: all 0.2s ease-in-out;
}
.close_icon {
  transition: all 0.075s ease-in-out;
  position: absolute;
  width: 2em;
  height: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1em solid;
  border-color: rgba(250, 250, 250, 0.8);
  border-radius: 6em;
}
.close_icon:after {
  transition: all 0.075s ease-in-out;
  font: 1em Helvetica, arial;
  font-size: 1em;
  width: 100%;
  height: 100%;
  content: "x";
  color: rgba(250, 250, 250, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -5%) scale(1.25, 1);
}
.popup-close-btn.zoom_invert:hover:before {
  font-size: 1.4em;
  border-color: rgba(200, 200, 200, 0.6);
}
.popup-close-btn.zoom_invert:hover .close_icon.zoom_invert {
  border-color: rgba(200, 200, 200, 1);
}
.popup-close-btn.zoom_invert:hover .close_icon.zoom_invert:after {
  color: rgba(100, 100, 100, 1);
}

.popup-close-btn.zoom_invert:active:before {
  font-size: 1.2em;
  border-color: rgba(200, 100, 100, 0.8);
}
.popup-close-btn.zoom_invert:active .close_icon.zoom_invert {
  transition: all 0.05s ease-in-out;
  font-size: 1.2em;
  border-color: rgba(50, 50, 50, 0.8);
}
.popup-close-btn.zoom_invert:active .close_icon.zoom_invert:after {
  transition: all 0.05s ease-in-out;
  font-size: 1.2em;
  color: rgba(50, 50, 50, 0.8);
}
/*END Second Close button Inverted Zoom animations*/
